*{
    background-color: aliceblue;
}
#logo-text{
    color: brown;
    align-self:center;
    text-align: right;
    margin-left: 20px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;

}
img.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
h1.logo{
    display: flex;
    flex-direction: row;
}
.head{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 7rem;
    margin-left: 30%;
    white-space: nowrap;
}
ol.nav-bar > li > a{
    text-decoration: none;
}
